.menu {
	color: #bbb;
	width: 15%;
	letter-spacing: 5px;
	font-size: 0.9em;
	margin-left: 10px;
	justify-content: space-around;
	height: 100%;
}

ul .menu-itens {
	display: flex;
	flex-direction: column;
}

h2 {
	color: #bbb;
	letter-spacing: 5px;
	font-size: 0.8em;
	font-weight: normal;

}

ul {
	padding-left: 0px;
	margin-top: 0px;
}

li {
	margin-top: 10px;
}
a li {
	display: flex;
	align-items: center;
	transition: 0.5s all;
	padding: 5px 5px;
	border-radius: 5px;
}

a li:hover {
	background: rgba(200,200,200,0.5);
}

.menu__item-name {
	padding: 10px 10px;
	letter-spacing: normal;
}

.menu__editor--index {
	opacity: 100%;
}

.menu__comunidade--index {
	opacity: 60%;
}

.menu__editor--comunidade {
	opacity: 60%;
}

.menu__comunidade--comunidade {
	opacity: 100%;
}

a {
	text-decoration: none;
	color: black;
	color: #bbb;
}

.icon-menu {
	background: #5081FB;
	border-radius: 10px;
	width: 40px;
	height: 40px;
	padding: 10px;
}

.sidebar {
	display: none;
}

hr {
	margin: 20px;
	opacity: 20%;
}

.sidebar__usuario {
	display: flex;
	justify-content: left;
	align-items: center;
	gap:10px;
	padding: 5px;
	width: 100%;
	border-radius: 5px;
	transition: 0.5s all;
}

.sidebar__usuario:hover {
	background: rgba(200,200,200,0.5);
	cursor: pointer;
}

.sidebar__id-usuario {
	letter-spacing: normal;
	font-size: 100%;
	color: #bbb;
}

@media screen and (max-width: 1024px) {
	.menu {
		display: none;
	}

	.sidebar {
		height: 100vh;
		width: 250px;
		padding: 20px;
		position: absolute;
		right: 0;
		margin-top: 20px;
		background: #2D415B;
		border-radius: 10px;
		display: none;
	}
	
	.sidebar.active {
		display: block;
	}
}