* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

body {
	background: #051D3B;
	font-family: "Inter", sans-serif;
}

.editor {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

.editor__fundo {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	width: 100%;
	height: 451px;
	padding: 2rem;
}

.mac {
	width: 100%;
	background: #292936;
	border-radius: 5px 5px 0px 0px;
}

.mac-img {
	margin: 5px 0 0 5px;
	width:60px;
	height:20px;
}

.editor__wrapper {
	width: 100%;
	height: 100%;
	background-color: #292936;
	border: none;
	border-radius: 0px 0px 5px 5px;
	display: block;
	margin: 0 auto;
	resize: none;
	padding: 5px;
	font-size: 1.1em;
	overflow-y: auto;
	line-height: 30px;
}

pre {
	width: 100%;
	height: 100%;
}

.editor__codigo {
	background-color: #292936;
	color: white;
	white-space: pre-wrap;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.editor__codigo:focus {
	border: none;
	outline: none;
}

.botao-visualizarMarcacao {
	width: 100%;
	margin-top: 30px;
	height: 40px;
	background-color: rgba(255,255,255,0.1);
	border: none;
	border-radius: 5px;
	color: #eee;
	cursor: pointer;
	transition: 0.5s all;
}

.botao-visualizarMarcacao:hover {
	background-color: rgba(255,255,255,0.2);
}

.editor-codigo:focus {
	outline: none;
}

.conteudo-principal {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.configuracoes-projeto {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 530px;
	width: 20%;
	margin-right: 10px;
}

.container-config {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.seuProjeto {
	height: 40%;
}

.seuProjeto__nome {
	border:none;
	border-radius: 5px;
	padding: 5px 5px;
	font-size: 15px;
	color: #bbb;
}

.seuProjeto__descricao {
	background-color: rgba(255,255,255,0.3);
	border:none;
	border-radius: 5px;
	padding: 5px 5px;
	font-size: 15px;
	color: #bbb;
	height: 80px;
	margin-top: 15px;
	resize: none;
}

.personalizacao {
	height: 30%;
}

.configuracao__input-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 70%;
}

.personalizacao__select {
	width: 100%;
}

option {
	color: #CCC;
	background: #051D3B;
}

.input-color {
	width: 100%;
	height: 50px;
	border-radius: 5px;
	background-color: transparent;
    border: 1px solid #FFFFFF;
    padding: 5px;
    cursor: pointer;
}

.botao-salvar {
	margin-top: 30px;
	border-radius: 5px;
	background: #5081FB;
	color: black;
	height: 10%;
	border:none;
	cursor: pointer;
	transition: 0.5s;
}

.botao-salvar:hover {
	background: #7BA4FC;
}

.botao-salvar:focus {
	outline: 3px solid #5081FB;

}

@media screen and (max-width: 1024px) {
	main {
		margin: auto 10px;
	}
	.conteudo-principal {
		flex-direction: column;
		align-items: center;
	}
	.editor, .configuracoes-projeto {
		width: 100%;
	}

	.configuracoes-projeto {
		margin-top: 30px;
	}

	.personalizacao {
		height: 20%;
	}
	
	.personalizacao__inputs {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.personalizacao__select {
		width: 48%;
	}

	.input-color {
		width: 48%;
	}

}

@media screen and (max-width: 400px) {
	.editor {
		height: calc(100vh - 120px);
		justify-content: space-around;
	}
	
	.editor__fundo {
		height: 80%;
	}

	.personalizacao {
		height: 30%;
	}
	
	.personalizacao__inputs {
		flex-direction: column;
		justify-content: space-between;
	}

	.personalizacao__select {
		width: 100%;
	}

	.input-color {
		width: 100%;
	}
	
}



